@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300&family=Ysabeau:ital,wght@1,500&display=swap');

html {
  height: 100% !important;
}

body {
  height: 100% !important;
}

#root {
  height: 100% !important;
}

.Ysabeau {
  font-family: 'Ysabeau', sans-serif;
}

.KumbhSans {
  font-family: 'Kumbh Sans', sans-serif !important;
}

.logo {
  width: 65px !important;
  height: 65px !important;
}

.logo-login {
  width: 310px;
  height: 310px;
}

.MainLogin {
  height: 100%;
}

.Background {
  background-color: #152c70;
}

.logo_title {
  margin-top: -30px !important;
}

.button {
  background-color: #45528a !important;
  color: white !important;
  cursor: pointer !important;

}

.button-out {
  background-color: #152c70 !important;
  color: white !important;
  cursor: pointer !important;

}

.button-menu {
  background-color: #EFF3FA !important;
  cursor: pointer !important;
}

.button-nav {
  background-color: transparent !important;
  cursor: pointer !important;
}


.button:hover,
.button-out:hover,
.button-menu:hover,
.button-back:hover,
.button-nav:hover {
  opacity: 80%;
  scale: 90%;
}

.product:hover,
.button-slide {
  scale: 1.1 !important;
}

.button-back {
  background-color: #b7b7b7 !important;
  color: white !important;
  cursor: pointer !important;
}

.color {
  color: #152c70 !important;
}

.xl {
  font-size: 170px !important;
}

.hover-upload {
  border: 1px solid #152c70;
  border-radius: 20px;
}

.hover-upload:hover {
  opacity: 80%;
  background: url('../public/image/logo-upload.png');
  background-size: cover;
}

.close {
  margin-top: -20px !important;
  margin-right: -20px !important;
}

::-webkit-scrollbar {
  display: none;
}

/* thêm nút scroll tùy chỉnh */
.my-scroll-container {
  overflow-x: scroll;
  scrollbar-width: none;
}

.my-scroll-container::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

.my-scroll-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

.support {
  border-radius: 100px;
}

input:focus + .error-input {
  display: none;
}

.MuiCheckbox-root {
  color: white !important;
}

.gray-column {
  background-color: #f5f5f5 !important;
}
